body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    /* Added by Adrian in January 2025 */

    /* Custom styles for italic text */
body span.cm-em {
    color: #81a867 !important; /* Green for italic text */
    font-style: italic !important;
}

/* Custom styles for bold text */
body span.cm-strong {
    color: #c29b68 !important; /* Orange for bold text */
    font-weight: bold !important;
}

/* Ultra-specific rule to override any inline styles or variables */
body .theme-dark .content span.cm-em {
    color: #81a867 !important;
}

body .theme-dark .content span.cm-strong {
    color: #c29b68 !important;
}

    
    /* Custom styles for italic text */
span.cm-em {
    color: #81a867 !important; /* the italic text */
    font-style: italic !important;
}
    
/* Custom styles for bold text */
span.cm-strong {
    color: #c29b68 !important; /* the bold text */
    font-weight: bold !important;
}
/* Changing some of the interface main components*/

/* Set the background color */

    background-color: #343434 !important; /* Background for the entire page */


/* Custom styles for headings */
h1 {
    color: #c29b68 !important; /* Heading 1 color */
}

h2 {
    color: #7e5841 !important; /* Heading 2 color */
}

h3 {
    color: #707e6b !important; /* Heading 3 color */
}

    

/* Bold text in callout */
.callout[data-callout] strong {
    color: #c29b68;
}

}
